.active_tab{
  background-color: black;
  padding: 10px;
  border-radius: 20px;
  color: white;
}
.tab{
  padding: 10px;
  border-radius: 20px;
}
.tab-row{
  border: 1px solid black;
  border-radius: 20px;
}
